#root {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

/* This is your CSS files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

h1{
    font-size: 20px;
}

.app{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #dc4c3e;

}
.page{
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/* ========== HEADER STYLES ========== */

.site-header{
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    padding: 16px;
    padding-left: 24px;
}

.site-header_status{
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.site-main{
    display:grid;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
}

.search-container{
    background-color: rgba(255,255,255, 0.3);
    display: flex;
    padding: 5px;
    border-radius: 4px;
}

.search-input{
    border: none;
    background: none;
}
input::placeholder{
    color: white;
}


.search-icon{
    width: 25px;
}

.menu-icon{
    background: none;
    border: none;
}


/* ========== MAIN CONTENT STYLES ========== */

.main-content {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 32px;
}

.container {
    display: flex;
    align-items:center;
    justify-content:space-between;
    position: relative;
    gap: 16px;
    cursor: pointer;
    user-select: none;
    padding: 0 24 24 24;
    padding-bottom:16px;
    padding-top: 16px;
    border-bottom: 1px solid #e4e3eb;
}

.main-list{
    display: block;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0px;
    height: 0px;
}

.radio-button{
    height: 18px;
    width: 18px;
    padding: 8px;
    background-color: #f2f2f6;
    border-style: solid;
    border-color: #bdbdbd;
    border-radius: 100%;
}

.container input:checked ~ .radio-button{
    background-color:  #ffffff;
    border-radius: 100%;
    outline: none;
}

.radio-button:after{
    height: 18px;
    width: 18px;
    content: "";
    position: absolute;
    display: none;
    background-color: #dc4c3e;
}

.container input:checked ~ .radio-button::after{
    display: block;
}

.container .radio-button::after{
    left: 9px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border-width: 0 3px 3px 0;
}
.task-form{
    display: flex;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.task-input{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    width: 224px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #ffb9b3;
}

.task-input::placeholder{
    color: #000000b9;
}

.task-input:focus{
    border-color: #f96153;
    outline: none;
}

.task-line{
    display: flex;
    gap: 8px;
    align-items: center;
}

.task-label{
    color: #000000b9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.completed{
    text-decoration: line-through;
    opacity: .5;
}

.form-button{
    background-color: #dc4c3e;
    color: whitesmoke;
    border-radius: 4px;
}


button.tab{
    outline: none;
}

.tabs{
    display: flex;
    flex-direction: row;
    padding: 0%;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tab{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    outline: none;
    border-radius: 0%;
    border: none;
    padding-left: 0px;
    background:white;
}

.tab:focus{
    color: #dc4c3e;
    font-weight: 600;
    /* border-right: 3px solid #dc4c3e; */
}

.tab-label{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

/* ========== SIDE NAVIGATION ========== */

.side-content{ 
    background-color:#fefbf2;
    color: #000000;
    padding: 24px;
}

.nav-list li{
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    padding: 8px;
    align-items: center;
}

.nav-item-label{
    font-size: 14px;
    color: #000000;
}

.count{
    color: #7e7d79;
    font-size: 12px;
}

.navbar{
    background-color: rgb(89, 22, 143);
}

/* ========== RESPONSIVE STYLES ========== */

@media (max-width: 480px){
    .site-main{
        grid-template-columns: 1fr;
    }
    .side-content{
        display: none;
    }

}